.leftBanner {
    width: 117px;
}

.iconContainer {
    height: 345px;
}

.activityIcone {
    border-radius: 6px;
}

.textLeftbanner {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 12px;
}

@media screen and (min-width: 1024px) and (max-width: 1200px) and (min-height: 780px) {
    .leftBanner {
        width: 85px;
    }

    .activityIcone {
        width: 50px;
    }
}