.leftBanner {
    width: 117px;
}

.iconContainer {
    height: 345px;
}

.activityIcone {
    border-radius: 6px;
}

.textLeftbanner {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 12px;
}