.sessionChart {
    background-color: #ff0000;
    width: 30%;
    height: 90%;
    border-radius: 5px;
    margin-bottom: 30px;
}

.sessionGraph {
    width: 90%;
}

.customTooltip {
    background: white;
    padding: 5px 10px;
    font-size: 8px;
    height: 25px;
    width: px;
    text-align: center;
}

.sessionGraph {
    width: 90%;
}