.graphsContainer {
    position: relative;
    width: 97%;
}

.activityTooltip {
    background: #e60000;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    height: 90px;
    width: 50px;
    text-align: center;

}